* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.app {
  max-width: 800px;
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 8px;
}

.todos {
  text-align: center;
  color: #ededed;
  font-size: 60px;
  margin-bottom: 50px;
}

form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  font-size: 16px;
  transition: all .2s ease;
}

form input:focus {
  border-bottom: 1px solid #222;
}

form input:not(:placeholder-shown) {
  border-bottom: 2px solid #222; /* green */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

button {
  margin: 0 3px;
  background: transparent;
  border: solid 1px #222;
  border-radius: 20px;
  padding: 5px 8px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s ease;
}

button:hover {
  color: #fff;
}

button:hover::before {
  width: 100%;
}

.how_many_task {
  margin-right: 30px;
}